TiendaApp/src/jbiServiceUnits/Tienda/ServicioPagos/localhost_18080/Pagos/Pagos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Pagos/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Pagos/">

<xs:element name="cobrar" type="tns:cobrar"/>

<xs:element name="cobrarResponse" type="tns:cobrarResponse"/>

<xs:element name="obtenerCliente" type="tns:obtenerCliente"/>

<xs:element name="obtenerClienteResponse" type="tns:obtenerClienteResponse"/>

<xs:complexType name="obtenerCliente">
<xs:sequence>
<xs:element name="tarjeta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cobrar">
<xs:sequence>
<xs:element name="cliente" type="xs:string" minOccurs="0"/>
<xs:element name="monto" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cobrarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>