TiendaApp/src/jbiServiceUnits/Tienda/ServicioAlmacen/localhost_18080/Almacen/Almacen.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Almacen/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Almacen/" name="Almacen">
<types>
<xsd:schema>
<xsd:import namespace="http://Almacen/" schemaLocation="http://localhost:18080/Almacen/Almacen?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenerPrecioTotal">
<part name="parameters" element="tns:obtenerPrecioTotal"/>
</message>
<message name="obtenerPrecioTotalResponse">
<part name="parameters" element="tns:obtenerPrecioTotalResponse"/>
</message>
<message name="obtenerUnidadesDisponibles">
<part name="parameters" element="tns:obtenerUnidadesDisponibles"/>
</message>
<message name="obtenerUnidadesDisponiblesResponse">
<part name="parameters" element="tns:obtenerUnidadesDisponiblesResponse"/>
</message>
<message name="obtenerPrecioUnitario">
<part name="parameters" element="tns:obtenerPrecioUnitario"/>
</message>
<message name="obtenerPrecioUnitarioResponse">
<part name="parameters" element="tns:obtenerPrecioUnitarioResponse"/>
</message>
<portType name="Almacen">
<operation name="obtenerPrecioTotal">
<input wsam:Action="http://Almacen/Almacen/obtenerPrecioTotalRequest" message="tns:obtenerPrecioTotal"/>
<output wsam:Action="http://Almacen/Almacen/obtenerPrecioTotalResponse" message="tns:obtenerPrecioTotalResponse"/>
</operation>
<operation name="obtenerUnidadesDisponibles">
<input wsam:Action="http://Almacen/Almacen/obtenerUnidadesDisponiblesRequest" message="tns:obtenerUnidadesDisponibles"/>
<output wsam:Action="http://Almacen/Almacen/obtenerUnidadesDisponiblesResponse" message="tns:obtenerUnidadesDisponiblesResponse"/>
</operation>
<operation name="obtenerPrecioUnitario">
<input wsam:Action="http://Almacen/Almacen/obtenerPrecioUnitarioRequest" message="tns:obtenerPrecioUnitario"/>
<output wsam:Action="http://Almacen/Almacen/obtenerPrecioUnitarioResponse" message="tns:obtenerPrecioUnitarioResponse"/>
</operation>
</portType>
<binding name="AlmacenPortBinding" type="tns:Almacen">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerPrecioTotal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerUnidadesDisponibles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerPrecioUnitario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Almacen">
<port name="AlmacenPort" binding="tns:AlmacenPortBinding">
<soap:address location="http://localhost:18080/Almacen/Almacen"/>
</port>
</service>
</definitions>