SitioWeb/src/conf/xml-resources/web-service-references/Almacen/wsdl/localhost_18080/Almacen/Almacen.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://Almacen/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Almacen/">

<xs:element name="obtenerPrecioTotal" type="tns:obtenerPrecioTotal"/>

<xs:element name="obtenerPrecioTotalResponse" type="tns:obtenerPrecioTotalResponse"/>

<xs:element name="obtenerPrecioUnitario" type="tns:obtenerPrecioUnitario"/>

<xs:element name="obtenerPrecioUnitarioResponse" type="tns:obtenerPrecioUnitarioResponse"/>

<xs:element name="obtenerUnidadesDisponibles" type="tns:obtenerUnidadesDisponibles"/>

<xs:element name="obtenerUnidadesDisponiblesResponse" type="tns:obtenerUnidadesDisponiblesResponse"/>

<xs:complexType name="obtenerPrecioUnitario">
<xs:sequence>
<xs:element name="producto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerPrecioUnitarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerUnidadesDisponibles">
<xs:sequence>
<xs:element name="producto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerUnidadesDisponiblesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerPrecioTotal">
<xs:sequence>
<xs:element name="producto" type="xs:string" minOccurs="0"/>
<xs:element name="unidades" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerPrecioTotalResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>